<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='dash.css')}}">
</head>
<body>

<h1><a href="{{ url_for('pipeline') }}" style="margin-top: 20px;"> Refresh </a></h1>



<h1 style="text-align: center;">Dashboard of Live Sensor</h1>

<div class="row">
  <div class="column" style="background-color:#e9e4e5; border-style: dotted ;height: 800px;">
    <h2 style="text-align: center;">Diffrence between Response 1 and Response 2</h2>
    <img src="{{ url_for('static', filename='images/lineplotRes1Res2.png') }}"></img>

  </div>
  <div class="column" style="background-color:#e9e4e5; border-style: dotted;height: 800px;">
    <h2>Diffrence between Response 3 and Response 4</h2>
    <img src="{{ url_for('static', filename='images/lineplotRes3Res4.png') }}"></img>

  </div>
</div>

<br>

<div class="row">
  <div class="column" style="background-color:#aaa;height: 600px;">
    <h2 style="text-align: center;">Count plot of Response1</h2>
    <img src="{{ url_for('static', filename='images/CountplotResponse1.png') }}"></img>
    
  </div>
  <div class="column" style="background-color:#bbb;height: 600px">
    <h2 style="text-align: center;">Count plot of Response2</h2>
    <img src="{{ url_for('static', filename='images/CountplotResponse2.png') }}"></img>
    
  </div>
  <div class="column" style="background-color:#ccc;height: 600px">
    <h2 style="text-align:center;">Count plot of Response3</h2>
    <img src="{{ url_for('static', filename='images/CountplotResponse3.png') }}"></img>
    
  </div>
  <div class="column" style="background-color:#ddd;height: 600px">
    <h2 style="text-align: center;">Count plot of Response4</h2>
    <img src="{{ url_for('static', filename='images/CountplotResponse4.png') }}"></img>

  </div>
</div>

<br>
<h1 style="text-align: center;">MEAN VALUE OF EACH COLUMN</h1>
<div class="pieplot" style="border: solid  ;margin-left: 50px;margin-right: 50px;">
  <img src="{{ url_for('static', filename='images/pie.png') }}"></img>

</div>



<div class="ft container-fluid">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li><a href="#">Web design</a></li>
                          <li><a href="#">Development</a></li>
                          <li><a href="#">Hosting</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Team</a></li>
                          <li><a href="#">Careers</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>Company Name</h3>
                      <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                  </div>
                  <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
              </div>
              <p class="copyright">Company Name © 2018</p>
          </div>
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
