<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="box-cell box1">
    <h1><a href="{{ url_for('add_new_sensor') }}" style="margin-top: 20px;"> Add new Sensor data </a></h1>
  </div>

  <div class="box-cell box1">
    <h1><a href="{{ url_for('register_sensor') }}" style="margin-top: 20px;"> Register sensor </a></h1>
  </div>

  <div class="box-cell box1">
    <h1><a href="{{ url_for('Dashboard') }}" style="margin-top: 20px;"> Dashboard </a></h1>
  </div>

</body>
</html>